Javascript/Aulas/(159) Criando um DataGridView - Parte 08/Node Red.json
[
    {
        "id": "8d15c54c78161ef0",
        "type": "tab",
        "label": "Curso de Javascript",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8657e3b93d9937f5",
        "type": "function",
        "z": "8d15c54c78161ef0",
        "name": "function 1",
        "func": "let query = 'SELECT * FROM produtos;'\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 120,
        "wires": [
            [
                "c61dc5a9b7a9843a"
            ]
        ]
    },
    {
        "id": "5df111e161ec5aec",
        "type": "http in",
        "z": "8d15c54c78161ef0",
        "name": "Produtos",
        "url": "/produtos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "8657e3b93d9937f5"
            ]
        ]
    },
    {
        "id": "89672d24354a90dd",
        "type": "http response",
        "z": "8d15c54c78161ef0",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "c61dc5a9b7a9843a",
        "type": "mysql",
        "z": "8d15c54c78161ef0",
        "mydb": "b0512ccf716d9232",
        "name": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "89672d24354a90dd"
            ]
        ]
    },
    {
        "id": "b67643ca9195c13e",
        "type": "http in",
        "z": "8d15c54c78161ef0",
        "name": "Remover",
        "url": "/removeproduto/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "bfe3c6018f5dc1c3"
            ]
        ]
    },
    {
        "id": "bfe3c6018f5dc1c3",
        "type": "function",
        "z": "8d15c54c78161ef0",
        "name": "Delete",
        "func": "let id = msg.req.params.id\nlet query = `DELETE FROM produtos WHERE n_id_produto = ${id}`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            [
                "f4258e4f3239c8d6"
            ]
        ]
    },
    {
        "id": "f4258e4f3239c8d6",
        "type": "mysql",
        "z": "8d15c54c78161ef0",
        "mydb": "b0512ccf716d9232",
        "name": "",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "8717d712881e1276"
            ]
        ]
    },
    {
        "id": "8717d712881e1276",
        "type": "http response",
        "z": "8d15c54c78161ef0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "951c8904f1999152",
        "type": "http in",
        "z": "8d15c54c78161ef0",
        "name": "Produto Id",
        "url": "/produto/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "63dcca35b0f3dae2"
            ]
        ]
    },
    {
        "id": "63dcca35b0f3dae2",
        "type": "function",
        "z": "8d15c54c78161ef0",
        "name": "Produto Id",
        "func": "let id = msg.req.params.id\nlet query = `SELECT * FROM produtos WHERE n_id_produto = ${id}`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 180,
        "wires": [
            [
                "3d521c6c0b958faf"
            ]
        ]
    },
    {
        "id": "3d521c6c0b958faf",
        "type": "mysql",
        "z": "8d15c54c78161ef0",
        "mydb": "b0512ccf716d9232",
        "name": "",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "e1667925b5c88759"
            ]
        ]
    },
    {
        "id": "e1667925b5c88759",
        "type": "http response",
        "z": "8d15c54c78161ef0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "b0512ccf716d9232",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "cfbcursos",
        "tz": "",
        "charset": "UTF8"
    }
]