Javascript/Estoque Login - Node  Red.json
[
    {
        "id": "98467597b43e98ab",
        "type": "tab",
        "label": "Estoque - Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e64df4982c8ec81",
        "type": "http in",
        "z": "98467597b43e98ab",
        "name": "",
        "url": "/login/:email/:senha",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "c8664f267745b098"
            ]
        ]
    },
    {
        "id": "88ccc98f024c6d97",
        "type": "http response",
        "z": "98467597b43e98ab",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "c7980c8fc177bded",
        "type": "debug",
        "z": "98467597b43e98ab",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "c8664f267745b098",
        "type": "function",
        "z": "98467597b43e98ab",
        "name": "function 81",
        "func": "const email = msg.req.params.email;\nmsg.senha_digitada = msg.req.params.senha;\nmsg.topic = `SELECT n_pessoa_pessoa,s_email_pessoa,s_nome_pessoa,s_senha_pessoa FROM pessoa WHERE s_email_pessoa=\"${email}\"`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 40,
        "wires": [
            [
                "c723e2dad3bf080e"
            ]
        ]
    },
    {
        "id": "c723e2dad3bf080e",
        "type": "mysql",
        "z": "98467597b43e98ab",
        "mydb": "8d883f1845a63bb0",
        "name": "",
        "x": 500,
        "y": 40,
        "wires": [
            [
                "7f98e9908726111f"
            ]
        ]
    },
    {
        "id": "7f98e9908726111f",
        "type": "function",
        "z": "98467597b43e98ab",
        "name": "function 82",
        "func": "msg.senha_atual=msg.payload[0].s_senha_pessoa;\nmsg.n_pessoa_pessoa = msg.payload[0].n_pessoa_pessoa ;\nmsg.s_nome_pessoa = msg.payload[0].s_nome_pessoa;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 90,
        "y": 180,
        "wires": [
            [
                "7e3876db425f8b01"
            ]
        ]
    },
    {
        "id": "7e3876db425f8b01",
        "type": "switch",
        "z": "98467597b43e98ab",
        "name": "",
        "property": "senha_atual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "acc3aa2497cc472f"
            ],
            [
                "cecb351d703d487f"
            ]
        ]
    },
    {
        "id": "cecb351d703d487f",
        "type": "function",
        "z": "98467597b43e98ab",
        "name": "Verificar senha",
        "func": "msg.s_senha_pessoa = msg.payload[0].s_senha_pessoa;\nmsg.n_pessoa_pessoa = msg.payload[0].n_pessoa_pessoa;\n// if (msg.senha_digitada == senha_atual){\n\n// }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "89e90669ac8efa5a"
            ]
        ]
    },
    {
        "id": "acc3aa2497cc472f",
        "type": "function",
        "z": "98467597b43e98ab",
        "name": "Primeiro Acesso",
        "func": "msg.payload[0].s_senha_pessoa = null;\nmsg.payload[0].senha_atual = null;\nmsg.payload[0].retorno = 205;\nmsg.s_senha_pessoa=null;\nmsg.senha_atual = null;\nmsg.retorno=205;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "88ccc98f024c6d97",
                "c7980c8fc177bded"
            ]
        ]
    },
    {
        "id": "89e90669ac8efa5a",
        "type": "switch",
        "z": "98467597b43e98ab",
        "name": "",
        "property": "senha_atual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "senha_digitada",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "senha_digitada",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "68ed76a9b6ae5f8d"
            ],
            [
                "52fb286f7e26e6d4"
            ]
        ]
    },
    {
        "id": "68ed76a9b6ae5f8d",
        "type": "function",
        "z": "98467597b43e98ab",
        "name": "Senha OK",
        "func": "msg.payload[0].s_senha_pessoa = null;\nmsg.payload[0].senha_atual = null;\nmsg.payload[0].retorno=200;\nmsg.s_senha_pessoa = null;\nmsg.senha_atual = null;\nmsg.retorno = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 200,
        "wires": [
            [
                "4fb6b2834b57b03f"
            ]
        ]
    },
    {
        "id": "52fb286f7e26e6d4",
        "type": "function",
        "z": "98467597b43e98ab",
        "name": "Senha errada",
        "func": "msg.payload[0].s_senha_pessoa = null;\nmsg.payload[0].senha_atual = null;\nmsg.payload[0].retorno=208;\nmsg.s_senha_pessoa = null;\nmsg.senha_atual = null;\nmsg.retorno = 208;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 240,
        "wires": [
            [
                "86f57a89786fc914",
                "1a416453c487196d"
            ]
        ]
    },
    {
        "id": "86f57a89786fc914",
        "type": "http response",
        "z": "98467597b43e98ab",
        "name": "",
        "statusCode": "208",
        "headers": {},
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "1a416453c487196d",
        "type": "debug",
        "z": "98467597b43e98ab",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "441eeb70f4812b6e",
        "type": "http response",
        "z": "98467597b43e98ab",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "a79ed2862573bc7b",
        "type": "mysql",
        "z": "98467597b43e98ab",
        "mydb": "8d883f1845a63bb0",
        "name": "",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "441eeb70f4812b6e",
                "de2bd331b4ca760b"
            ]
        ]
    },
    {
        "id": "37795bc46d4595df",
        "type": "function",
        "z": "98467597b43e98ab",
        "name": "function 83",
        "func": "msg.payload = JSON.parse(msg.payload);\nconst n_pessoa_pessoa = msg.payload.n_pessoa_pessoa;\nconst s_senha_pessoa = msg.payload.s_senha_pessoa;\n\nmsg.topic = `UPDATE pessoa SET s_senha_pessoa=${s_senha_pessoa} WHERE n_pessoa_pessoa=${n_pessoa_pessoa}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 380,
        "wires": [
            [
                "a79ed2862573bc7b"
            ]
        ]
    },
    {
        "id": "6232019345ebd78c",
        "type": "http in",
        "z": "98467597b43e98ab",
        "name": "",
        "url": "/gravarnovasenha",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "37795bc46d4595df"
            ]
        ]
    },
    {
        "id": "de2bd331b4ca760b",
        "type": "debug",
        "z": "98467597b43e98ab",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "4fb6b2834b57b03f",
        "type": "link out",
        "z": "98467597b43e98ab",
        "name": "Saida Token",
        "mode": "link",
        "links": [
            "3fa2aa0afb36e444"
        ],
        "x": 835,
        "y": 200,
        "wires": []
    },
    {
        "id": "8d883f1845a63bb0",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]