Javascript/Aulas/(253) Controle de Estoque - Parte 72 - Rotinas de Gestao de Fornecedores - P35/Estoque - Login.json
[
    {
        "id": "c39ccf3d7a689f68",
        "type": "tab",
        "label": "Estoque - Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4084edd57de44ce4",
        "type": "http in",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "url": "/login/:email/:senha",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "fe17e5c6b66f21f2"
            ]
        ]
    },
    {
        "id": "ea966a84ba61040e",
        "type": "http response",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "statusCode": "205",
        "headers": {},
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "eb80004b787147de",
        "type": "debug",
        "z": "c39ccf3d7a689f68",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].s_senha_pessoa",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "fe17e5c6b66f21f2",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "function 33",
        "func": "const email = msg.req.params.email\nmsg.senha_digitada = msg.req.params.senha\n\nmsg.topic = `SELECT n_pessoa_pessoa, s_email_pessoa, s_senha_pessoa FROM pessoa WHERE s_email_pessoa = '${email}'`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": [
            [
                "ef5aba6b0102703c"
            ]
        ]
    },
    {
        "id": "ef5aba6b0102703c",
        "type": "mysql",
        "z": "c39ccf3d7a689f68",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 560,
        "y": 40,
        "wires": [
            [
                "d078182d6d709487"
            ]
        ]
    },
    {
        "id": "d078182d6d709487",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "function 34",
        "func": "msg.senha_atual = msg.payload[0].s_senha_pessoa\n// console.log(msg.payload[0].s_senha_pessoa)\n\n/*if(msg.senha_digitada == senha_atual) {\n\n}*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 100,
        "wires": [
            [
                "04b806bef666c2ca"
            ]
        ]
    },
    {
        "id": "04b806bef666c2ca",
        "type": "switch",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "property": "senha_atual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "f0b258987eed0723"
            ],
            [
                "1b6f7e4ed36b53e8"
            ]
        ]
    },
    {
        "id": "f0b258987eed0723",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Primeiro Acesso",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            [
                "ea966a84ba61040e",
                "eb80004b787147de"
            ]
        ]
    },
    {
        "id": "1b6f7e4ed36b53e8",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Verificar Senha",
        "func": "msg.senha_atual = msg.payload[0].s_senha_pessoa\n\n/*if(msg.senha_digitada == senha_atual) {\n\n}*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "bcf4be897d3287bf"
            ]
        ]
    },
    {
        "id": "bcf4be897d3287bf",
        "type": "switch",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "property": "senha_atual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "senha_digitada",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "senha_digitada",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "43bc7bbdd5a97b81"
            ],
            [
                "726017503e333d82"
            ]
        ]
    },
    {
        "id": "43bc7bbdd5a97b81",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Senha OK",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 180,
        "wires": [
            [
                "bec8b077ed7747bd",
                "343f973596058ce6"
            ]
        ]
    },
    {
        "id": "726017503e333d82",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Senha ERRADA",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 220,
        "wires": [
            [
                "e9a37e1b56a33cec",
                "d07c44c897103421"
            ]
        ]
    },
    {
        "id": "bec8b077ed7747bd",
        "type": "http response",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "e9a37e1b56a33cec",
        "type": "http response",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "statusCode": "208",
        "headers": {},
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "343f973596058ce6",
        "type": "debug",
        "z": "c39ccf3d7a689f68",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].s_senha_pessoa",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "d07c44c897103421",
        "type": "debug",
        "z": "c39ccf3d7a689f68",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].s_senha_pessoa",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "8eb5ca5ddf10b0fd",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]