Javascript/save/Estoque Login - Node Red.json
[
    {
        "id": "c39ccf3d7a689f68",
        "type": "tab",
        "label": "Estoque - Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4084edd57de44ce4",
        "type": "http in",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "url": "/login/:email/:senha",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "fe17e5c6b66f21f2"
            ]
        ]
    },
    {
        "id": "fe17e5c6b66f21f2",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "function 33",
        "func": "const email = msg.req.params.email\nmsg.senha_digitada = msg.req.params.senha\n\nmsg.topic = `SELECT n_pessoa_pessoa, s_email_pessoa, s_nome_pessoa, s_senha_pessoa FROM pessoa WHERE s_email_pessoa = '${email}'`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 40,
        "wires": [
            [
                "ef5aba6b0102703c"
            ]
        ]
    },
    {
        "id": "ef5aba6b0102703c",
        "type": "mysql",
        "z": "c39ccf3d7a689f68",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 540,
        "y": 40,
        "wires": [
            [
                "d078182d6d709487"
            ]
        ]
    },
    {
        "id": "d078182d6d709487",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "function 34",
        "func": "msg.senha_atual = msg.payload[0].s_senha_pessoa\nmsg.n_pessoa_pessoa = msg.payload[0].n_pessoa_pessoa\nmsg.s_nome_pessoa = msg.payload[0].s_nome_pessoa\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 100,
        "wires": [
            [
                "04b806bef666c2ca"
            ]
        ]
    },
    {
        "id": "04b806bef666c2ca",
        "type": "switch",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "property": "senha_atual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "f0b258987eed0723"
            ],
            [
                "1b6f7e4ed36b53e8"
            ]
        ]
    },
    {
        "id": "f0b258987eed0723",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Primeiro Acesso",
        "func": "msg.payload[0].s_senha_pessoa = null\nmsg.payload[0].senha_atual = null\nmsg.payload[0].retorno = 205\n\nmsg.s_senha_pessoa = null\nmsg.senha_atual = null\nmsg.retorno = 205\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            [
                "eb80004b787147de",
                "ea966a84ba61040e"
            ]
        ]
    },
    {
        "id": "1b6f7e4ed36b53e8",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Verificar Senha",
        "func": "msg.s_senha_pessoa = msg.payload[0].s_senha_pessoa\nmsg.s_pessoa_pessoa = msg.payload[0].s_pessoa_pessoa\n\n/*if(msg.senha_digitada == senha_atual) {\n\n}*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "bcf4be897d3287bf"
            ]
        ]
    },
    {
        "id": "bcf4be897d3287bf",
        "type": "switch",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "property": "senha_atual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "senha_digitada",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "senha_digitada",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "43bc7bbdd5a97b81"
            ],
            [
                "726017503e333d82"
            ]
        ]
    },
    {
        "id": "43bc7bbdd5a97b81",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Senha OK",
        "func": "msg.payload[0].s_senha_pessoa = null\nmsg.payload[0].senha_atual = null\nmsg.payload[0].retorno = 200\nmsg.s_senha_pessoa = null\nmsg.senha_atual = null\nmsg.retorno = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 180,
        "wires": [
            [
                "ddea7722ac31ca1d"
            ]
        ]
    },
    {
        "id": "726017503e333d82",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Senha ERRADA",
        "func": "msg.payload[0].s_senha_pessoa = null\nmsg.payload[0].senha_atual = null\nmsg.payload[0].retorno = 208\nmsg.s_senha_pessoa = null\nmsg.senha_atual = null\nmsg.retorno = 208\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 220,
        "wires": [
            [
                "e9a37e1b56a33cec",
                "d07c44c897103421"
            ]
        ]
    },
    {
        "id": "e9a37e1b56a33cec",
        "type": "http response",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "statusCode": "208",
        "headers": {},
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "d07c44c897103421",
        "type": "debug",
        "z": "c39ccf3d7a689f68",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "45d2af66fa764fc0",
        "type": "http response",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "db73763f276b1eae",
        "type": "debug",
        "z": "c39ccf3d7a689f68",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "c2eef63fbceef5d8",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "function 35",
        "func": "msg.payload = JSON.parse(msg.payload)\nconst n_pessoa_pessoa = msg.payload.n_pessoa_pessoa\nconst s_senha_pessoa = msg.payload.s_senha_pessoa\n\nconst query = `UPDATE pessoa SET s_senha_pessoa = '${s_senha_pessoa}' WHERE n_pessoa_pessoa = ${n_pessoa_pessoa}`\n\nmsg.topic = query\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "030813536fb4037e"
            ]
        ]
    },
    {
        "id": "030813536fb4037e",
        "type": "mysql",
        "z": "c39ccf3d7a689f68",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "45d2af66fa764fc0",
                "db73763f276b1eae"
            ]
        ]
    },
    {
        "id": "01a408af93251632",
        "type": "http in",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "url": "/gravarnovasenha",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "c2eef63fbceef5d8"
            ]
        ]
    },
    {
        "id": "eb80004b787147de",
        "type": "debug",
        "z": "c39ccf3d7a689f68",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "ea966a84ba61040e",
        "type": "http response",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "ddea7722ac31ca1d",
        "type": "link out",
        "z": "c39ccf3d7a689f68",
        "name": "Saida Token",
        "mode": "link",
        "links": [
            "7fe6603056dd089e"
        ],
        "x": 865,
        "y": 180,
        "wires": []
    },
    {
        "id": "8eb5ca5ddf10b0fd",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]