Javascript/Aulas/(191) Controle de Estoque - Parte 10/Estoque - Node Red.json
[
    {
        "id": "29f3c46e98eb4e03",
        "type": "http in",
        "z": "8c27bfcdc64a8aef",
        "name": "",
        "url": "/todosusuarios",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "f655d4775e7ffc2e"
            ]
        ]
    },
    {
        "id": "f7fafac36c88d36a",
        "type": "http response",
        "z": "8c27bfcdc64a8aef",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "82b682108a264bdb",
        "type": "debug",
        "z": "8c27bfcdc64a8aef",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "f655d4775e7ffc2e",
        "type": "function",
        "z": "8c27bfcdc64a8aef",
        "name": "function 2",
        "func": "msg.topic = `SELECT * FROM usuario`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 40,
        "wires": [
            [
                "29c8a725ce0b039a"
            ]
        ]
    },
    {
        "id": "29c8a725ce0b039a",
        "type": "mysql",
        "z": "8c27bfcdc64a8aef",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 440,
        "y": 40,
        "wires": [
            [
                "f7fafac36c88d36a",
                "82b682108a264bdb"
            ]
        ]
    },
    {
        "id": "8eb5ca5ddf10b0fd",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]