Javascript/Aulas/(250) Controle de Estoque - Parte 69 - Rotinas de Gestao de Fornecedores - P32/Estoque - Login.json
[
    {
        "id": "c39ccf3d7a689f68",
        "type": "tab",
        "label": "Estoque - Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4084edd57de44ce4",
        "type": "http in",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "url": "/login/:email/:senha",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "fe17e5c6b66f21f2"
            ]
        ]
    },
    {
        "id": "ea966a84ba61040e",
        "type": "http response",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "eb80004b787147de",
        "type": "debug",
        "z": "c39ccf3d7a689f68",
        "name": "debug 43",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].s_senha_pessoa",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "fe17e5c6b66f21f2",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "function 33",
        "func": "const email = msg.req.params.email\nmsg.senha_digitada = msg.req.params.senha\n\nmsg.topic = `SELECT n_pessoa_pessoa, s_email_pessoa, s_senha_pessoa FROM pessoa WHERE s_email_pessoa = '${email}'`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": [
            [
                "ef5aba6b0102703c"
            ]
        ]
    },
    {
        "id": "ef5aba6b0102703c",
        "type": "mysql",
        "z": "c39ccf3d7a689f68",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 560,
        "y": 40,
        "wires": [
            [
                "eb80004b787147de",
                "d078182d6d709487"
            ]
        ]
    },
    {
        "id": "d078182d6d709487",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "function 34",
        "func": "msg.senha_atual = msg.payload[0].s_senha_pessoa\n\n/*if(msg.senha_digitada == senha_atual) {\n\n}*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 100,
        "wires": [
            [
                "04b806bef666c2ca"
            ]
        ]
    },
    {
        "id": "04b806bef666c2ca",
        "type": "switch",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "property": "senha_atual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "f0b258987eed0723"
            ],
            [
                "1b6f7e4ed36b53e8"
            ]
        ]
    },
    {
        "id": "f0b258987eed0723",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Primeiro Acesso",
        "func": "msg.senha_atual = msg.payload[0].s_senha_pessoa\n\n/*if(msg.senha_digitada == senha_atual) {\n\n}*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 100,
        "wires": [
            [
                "ea966a84ba61040e"
            ]
        ]
    },
    {
        "id": "1b6f7e4ed36b53e8",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Verificar Senha",
        "func": "msg.senha_atual = msg.payload[0].s_senha_pessoa\n\n/*if(msg.senha_digitada == senha_atual) {\n\n}*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            [
                "bcf4be897d3287bf"
            ]
        ]
    },
    {
        "id": "bcf4be897d3287bf",
        "type": "switch",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "property": "senha_atual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "senha_digitada",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "senha_digitada",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "43bc7bbdd5a97b81"
            ],
            [
                "726017503e333d82"
            ]
        ]
    },
    {
        "id": "43bc7bbdd5a97b81",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Senha OK",
        "func": "msg.senha_atual = msg.payload[0].s_senha_pessoa\n\n/*if(msg.senha_digitada == senha_atual) {\n\n}*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 100,
        "wires": [
            [
                "bec8b077ed7747bd"
            ]
        ]
    },
    {
        "id": "726017503e333d82",
        "type": "function",
        "z": "c39ccf3d7a689f68",
        "name": "Senha ERRADA",
        "func": "msg.senha_atual = msg.payload[0].s_senha_pessoa\n\n/*if(msg.senha_digitada == senha_atual) {\n\n}*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "e9a37e1b56a33cec"
            ]
        ]
    },
    {
        "id": "bec8b077ed7747bd",
        "type": "http response",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "e9a37e1b56a33cec",
        "type": "http response",
        "z": "c39ccf3d7a689f68",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "8eb5ca5ddf10b0fd",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]