Javascript/Aulas/(235) Controle de Estoque - Parte 54 - Rotinas de Gestao de Fornecedores - P17/Estoque Colaboradores - Node Red.json
[
    {
        "id": "1e6c1cdbe2ee8831",
        "type": "tab",
        "label": "Estoque - Colaboradores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b45d3ef10dae9c2f",
        "type": "http in",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "url": "/todaspessoas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "1aacd3406b0f5257"
            ]
        ]
    },
    {
        "id": "32baeaef4598d388",
        "type": "http response",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "2fcd699f448a4a61",
        "type": "debug",
        "z": "1e6c1cdbe2ee8831",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "1aacd3406b0f5257",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 4",
        "func": "msg.topic = `SELECT * FROM pessoa`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [
            [
                "80e35edc9fc2c456"
            ]
        ]
    },
    {
        "id": "80e35edc9fc2c456",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 40,
        "wires": [
            [
                "32baeaef4598d388",
                "2fcd699f448a4a61"
            ]
        ]
    },
    {
        "id": "c843468871228037",
        "type": "http in",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "url": "/tiposcolab",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "56060a0ee0732079"
            ]
        ]
    },
    {
        "id": "66efe2c21feb5625",
        "type": "http response",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "e78837de59a7b8c8",
        "type": "debug",
        "z": "1e6c1cdbe2ee8831",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "56060a0ee0732079",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 3",
        "func": "msg.topic = `SELECT * FROM tipopessoa`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "bb379f2a20dc9064"
            ]
        ]
    },
    {
        "id": "bb379f2a20dc9064",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "66efe2c21feb5625",
                "e78837de59a7b8c8"
            ]
        ]
    },
    {
        "id": "0dcb6b3ac758bb8f",
        "type": "http in",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "url": "/novocolab",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "f0d9cbabdd26889c"
            ]
        ]
    },
    {
        "id": "4093f31c1d0da250",
        "type": "http response",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "818bb2407ca5428a",
        "type": "debug",
        "z": "1e6c1cdbe2ee8831",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "f0d9cbabdd26889c",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 5",
        "func": "msg.payload = JSON.parse(msg.payload)\nconst s_nome_pessoa = msg.payload.s_nome_pessoa\nconst n_tipopessoa_tipopessoa = msg.payload.n_tipopessoa_tipopessoa\nconst c_status_pessoa = msg.payload.c_status_pessoa\nconst s_foto_pessoa = msg.payload.s_foto_pessoa\nmsg.numtelefones = msg.payload.numtelefones\n\nconst query = `INSERT INTO pessoa (n_pessoa_pessoa, s_nome_pessoa, n_tipopessoa_tipopessoa, c_status_pessoa, s_foto_pessoa) VALUES (NULL, '${s_nome_pessoa}', ${n_tipopessoa_tipopessoa}, '${c_status_pessoa}', '${s_foto_pessoa}')`\n\nmsg.topic = query\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "32501809c0026f9d"
            ]
        ]
    },
    {
        "id": "32501809c0026f9d",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "cc9976e0c2b39d89"
            ]
        ]
    },
    {
        "id": "14401a1b0af63046",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 6",
        "func": "let n_pessoa_pessoa = msg.payload.insertId\nlet numtelefones = msg.numtelefones\n\nlet numtelefones_montado = ''\n\nnumtelefones.forEach(f => {\n    numtelefones_montado += `, (NULL, ${n_pessoa_pessoa}, '${f}')`\n})\n\nnumtelefones_montado = numtelefones_montado.substring(1)\n\nmsg.topic = `INSERT INTO telefone (n_telefone_telefone, n_pessoa_pessoa, s_numero_telefone) VALUES ${numtelefones_montado}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "18bddf6c1be3d98d"
            ]
        ]
    },
    {
        "id": "18bddf6c1be3d98d",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "4093f31c1d0da250"
            ]
        ]
    },
    {
        "id": "cc9976e0c2b39d89",
        "type": "switch",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "property": "numtelefones",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "14401a1b0af63046"
            ],
            [
                "4093f31c1d0da250"
            ]
        ]
    },
    {
        "id": "997371880b1cb096",
        "type": "http in",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "url": "/dadoscolab/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "29d9f30511e20e9b"
            ]
        ]
    },
    {
        "id": "a441505689b1633c",
        "type": "http response",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "29d9f30511e20e9b",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 7",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `SELECT * FROM pessoa WHERE n_pessoa_pessoa = ${id}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "7b2e13def7f7cdb1",
                "0c16095544569e04"
            ]
        ]
    },
    {
        "id": "0c16095544569e04",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "a441505689b1633c",
                "7b2e13def7f7cdb1"
            ]
        ]
    },
    {
        "id": "7b2e13def7f7cdb1",
        "type": "debug",
        "z": "1e6c1cdbe2ee8831",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "49e3ea280bb7f0b7",
        "type": "http in",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "url": "/telefonescolab/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "104fecf512a9bd8d"
            ]
        ]
    },
    {
        "id": "1b4526e41f6f9f82",
        "type": "http response",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "104fecf512a9bd8d",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 8",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `SELECT * FROM telefone WHERE n_pessoa_pessoa = ${id}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "e28ea695690a0573",
                "8436a4c940de1cd3"
            ]
        ]
    },
    {
        "id": "8436a4c940de1cd3",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "1b4526e41f6f9f82"
            ]
        ]
    },
    {
        "id": "e28ea695690a0573",
        "type": "debug",
        "z": "1e6c1cdbe2ee8831",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "a96dabc78d1ca716",
        "type": "inject",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "req.params.id",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "104fecf512a9bd8d"
            ]
        ]
    },
    {
        "id": "9c15ca1a72859d6d",
        "type": "http in",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "url": "/editarcolab",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "21e6356ac99f7665"
            ]
        ]
    },
    {
        "id": "104d25f35e9e6fbb",
        "type": "http response",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 740,
        "wires": []
    },
    {
        "id": "f02e606f07ce059a",
        "type": "debug",
        "z": "1e6c1cdbe2ee8831",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 700,
        "wires": []
    },
    {
        "id": "21e6356ac99f7665",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 9",
        "func": "msg.payload = JSON.parse(msg.payload)\nconst n_pessoa_pessoa = msg.payload.n_pessoa_pessoa\nconst s_nome_pessoa = msg.payload.s_nome_pessoa\nconst n_tipopessoa_tipopessoa = msg.payload.n_tipopessoa_tipopessoa\nconst c_status_pessoa = msg.payload.c_status_pessoa\nconst s_foto_pessoa = msg.payload.s_foto_pessoa\n\nmsg.numtelefones = msg.payload.numtelefones\nmsg.n_pessoa_pessoa = msg.payload.n_pessoa_pessoa\n\nconst query = `UPDATE pessoa SET s_nome_pessoa = '${s_nome_pessoa}', n_tipopessoa_tipopessoa = ${n_tipopessoa_tipopessoa}, c_status_pessoa = '${c_status_pessoa}', s_foto_pessoa = '${s_foto_pessoa}' WHERE n_pessoa_pessoa = ${n_pessoa_pessoa}`\n\nmsg.topic = query\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 640,
        "wires": [
            [
                "e0f280a284445ac8"
            ]
        ]
    },
    {
        "id": "e0f280a284445ac8",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 640,
        "wires": [
            [
                "7ecb714c031b0538"
            ]
        ]
    },
    {
        "id": "3c0b4b3fc1512e43",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 10",
        "func": "let n_pessoa_pessoa = msg.n_pessoa_pessoa\nlet numtelefones = msg.numtelefones\n\nlet numtelefones_montado = ''\n\nnumtelefones.forEach(f => {\n    numtelefones_montado += `, (NULL, ${n_pessoa_pessoa}, '${f}')`\n})\n\nnumtelefones_montado = numtelefones_montado.substring(1)\n\nmsg.topic = `INSERT INTO telefone (n_telefone_telefone, n_pessoa_pessoa, s_numero_telefone) VALUES ${numtelefones_montado}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 700,
        "wires": [
            [
                "7764e178c8a6577f"
            ]
        ]
    },
    {
        "id": "7764e178c8a6577f",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 700,
        "wires": [
            [
                "104d25f35e9e6fbb"
            ]
        ]
    },
    {
        "id": "7ecb714c031b0538",
        "type": "switch",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "property": "numtelefones.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "3c0b4b3fc1512e43",
                "f02e606f07ce059a"
            ],
            [
                "104d25f35e9e6fbb"
            ]
        ]
    },
    {
        "id": "5387f3959bd9f678",
        "type": "http in",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "url": "/deltelefone/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "82fd652cb9952687"
            ]
        ]
    },
    {
        "id": "e1b424c948e0a4f5",
        "type": "http response",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "82fd652cb9952687",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 11",
        "func": "const id = msg.req.params.id\n\nmsg.topic = `DELETE FROM telefone WHERE n_telefone_telefone = ${id}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 800,
        "wires": [
            [
                "a6309a9c430d9e0d",
                "d3459742f8f22ceb"
            ]
        ]
    },
    {
        "id": "a6309a9c430d9e0d",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 800,
        "wires": [
            [
                "e1b424c948e0a4f5",
                "d3459742f8f22ceb"
            ]
        ]
    },
    {
        "id": "d3459742f8f22ceb",
        "type": "debug",
        "z": "1e6c1cdbe2ee8831",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "036cb1357dd0d28b",
        "type": "http in",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "url": "/mudarstatuscolab/:idcolab/:statuscolab",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "05136578408c2817"
            ]
        ]
    },
    {
        "id": "17976caae0eacc02",
        "type": "http response",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 960,
        "wires": []
    },
    {
        "id": "f8a273268e0c414f",
        "type": "debug",
        "z": "1e6c1cdbe2ee8831",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1000,
        "wires": []
    },
    {
        "id": "05136578408c2817",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 12",
        "func": "const n_pessoa_pessoa = msg.req.params.idcolab\nconst c_status_pessoa = msg.req.params.statuscolab\n\nconst query = `UPDATE pessoa SET c_status_pessoa = '${c_status_pessoa}' WHERE n_pessoa_pessoa = ${n_pessoa_pessoa}`\n\nmsg.topic = query\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 960,
        "wires": [
            [
                "35bb00b1c28f5bbc",
                "f8a273268e0c414f"
            ]
        ]
    },
    {
        "id": "35bb00b1c28f5bbc",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 960,
        "wires": [
            [
                "17976caae0eacc02"
            ]
        ]
    },
    {
        "id": "13d643f2d4af4bec",
        "type": "http in",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "url": "/pesquisacolab/:tipo/:valor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1060,
        "wires": [
            [
                "0e9eaaf225e81d73"
            ]
        ]
    },
    {
        "id": "7c600cd497d83b15",
        "type": "http response",
        "z": "1e6c1cdbe2ee8831",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f50a214b8cfd90fd",
        "type": "debug",
        "z": "1e6c1cdbe2ee8831",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0e9eaaf225e81d73",
        "type": "function",
        "z": "1e6c1cdbe2ee8831",
        "name": "function 13",
        "func": "const tipo = msg.req.params.tipo\nconst valor = msg.req.params.valor\n\nlet query = ``\n\nif(tipo === 'id') {\n    query = `SELECT * FROM usuario WHERE n_usuario_usuario = ${valor}`\n} else {\n    query = `SELECT * FROM usuario WHERE s_nome_usuario LIKE \"%${valor}%\"`\n}\n\nmsg.topic = query\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "ccce8cddd2dae75b",
                "f50a214b8cfd90fd"
            ]
        ]
    },
    {
        "id": "ccce8cddd2dae75b",
        "type": "mysql",
        "z": "1e6c1cdbe2ee8831",
        "mydb": "8eb5ca5ddf10b0fd",
        "name": "",
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "7c600cd497d83b15"
            ]
        ]
    },
    {
        "id": "8eb5ca5ddf10b0fd",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    }
]